<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>86631189717-53e2a4ec22ke8n9b10gde8101drht77g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.86631189717-53e2a4ec22ke8n9b10gde8101drht77g</string>
	<key>API_KEY</key>
	<string>AIzaSyDe18hd6VC9_6LvbY6DUk46R9SZnuUKqVw</string>
	<key>GCM_SENDER_ID</key>
	<string>86631189717</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mqdev.speaksmart</string>
	<key>PROJECT_ID</key>
	<string>speaksmart-18d1e</string>
	<key>STORAGE_BUCKET</key>
	<string>speaksmart-18d1e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:86631189717:ios:43939151e09a3c04d4a65c</string>
	<key>DATABASE_URL</key>
	<string>https://speaksmart-18d1e-default-rtdb.firebaseio.com</string>
</dict>
</plist>